<!DOCTYPE html>
<html>
  <head>
    <title>Wiigo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script type="text/javascript">
      window.cloudinary_options = {
        cloud_name: '<%= ENV['CLOUD_NAME'] %>',
        upload_preset: '<%= ENV['UPLOAD_PRESET'] %>'
      };
      window.imagePrefix = 'https://res.cloudinary.com/wiigo/image/upload/';
    </script>
  </head>

  <body>
    <%= javascript_include_tag 'application' %>    
    <%= yield %>
  </body>
</html>
